// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

* + table {
  margin-bottom: 1.5em;

  th, td {
    border: 1px solid $type-border;
    padding: 4px;
  }

  th {
    font-weight: bold;
  }

  @each $alignment in left right center {
    th[align="#{$alignment}"], td[align="#{$alignment}"] {
      text-align: $alignment;
    }
  }
}
